@font-face {
    font-family: 'Timea';
    src: url("../../../assets/fonts/Timea.ttf");
}

#right-card{
    background-color: #101C42;
    border-radius: 25px;
    min-height: 75vh;
}

#right-card:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:90%;
    left:0;
    right:0;
    background:#0A153E;
    opacity:0.6;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.right-card-img{
    position: absolute;
    width: 150px;
    height: 140px;
    top: -70px;
    left: 60px;
    z-index: 20;
}

.card-list span{
    font-size: medium;
}

.card-list p{
    font-family: 'Timea';
    font-size:2em;
    padding-top: 2rem;
    margin-bottom: 0;
}

.footer-details span{
    font-size: medium;
}