#left-card{
    height: 200px;
    width: 300%;
}

#left-card .card{
    border-radius: 15px;
    background-color: #101C42;
}

#left-card .card:hover{
    border-radius: 15px;
    background-color: lightskyblue;
}

#left-card small{
    font-size: small;
}

.like-icon{
    color: yellow;
    margin-bottom: 2rem;
}
.search-btn{
    background-color: transparent;
    border-radius: 25px;
    border-color: rgba(109, 105, 105, 0.746);
    padding:0.5rem 1.5rem;
}

.search-btn:hover{
    background-color: rgba(109, 105, 105, 0.246);
    border-color: #111a363d;
}