#left-card-fav{
    height: 200px;
}

#left-card-fav .card{
    border-radius: 15px;
    background-color: #101C42;
    height: 300px;
    font-size: medium;
}

#left-card-fav .card:hover{
    border-radius: 15px;
    background-color: lightskyblue;
}