#custom-form{
    border-radius: 25px!important;  
    height: 50px; 
}

.search-column{
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}
